<!DOCTYPE html>
<html>
  <head>
      <title>Infin8</title>
      <meta name="description" content="Annual cultural-tech fest of IIIT Bangalore.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url(/img/banner.jpg);">

    <%= yield %>
  </body>
</html>
